
# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuales
venv/
.env
.conda/

# Jupyter
.ipynb_checkpoints/

# ==========================
# Archivos GIS pesados / temporales
# ==========================

# Shapefile auxiliares
*.dbf
*.shx
*.sbn
*.sbx
*.prj
*.cpg

# GeoPackage (normalmente pesados)
*.gpkg

# Comprimidos
*.zip
*.7z
*.rar
*.json
*.geojson
# ==========================
# Raster
# ==========================

*.tif
*.tiff

!data/external/*.tif

# ==========================
# QGIS temporales
# ==========================
*.qgz
*.qgs
